@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: "Nimbus";
        font-weight: 500;
        src: url('/fonts/NimbusSansNovusT_Black.ttf') format("ttf")
    }
}